APP_NAME=team_comp_app
APP_PORT=8000
APP_ENV=development
APP_DEBUG=true

DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=team_competition
DB_USERNAME=app_user
DB_PASSWORD=app_password
DB_ROOT_PASSWORD=root_secret
DB_CONTAINER_NAME=team_comp_db
DB_EXTERNAL_PORT=3306

PMA_CONTAINER_NAME=team_comp_pma
PMA_PORT=8080
